.image_slider{ position:relative;}
.image_slider a{ display:inline-block; width:660px; height:310px; position:absolute; left:0px; top:0px; z-index:1;}
.image_slider .ctl_box{ position:absolute; right:15px; bottom:15px; z-index:4; }
.image_slider .dot{ 
width:10px; height:10px; cursor:pointer; text-align:center; float:left; margin-left:5px; border-radius:5px; line-height:0px; background:#fff; color:#fff; display:inline-block; font-size:0px; }
.image_slider .current{ background:#2890d7; color:#2890d7;}
.image_slider .title_box{width:100%; height:40px; display:inline-block; position:absolute; bottom:0px;  line-height:40px; font-size:14px; color:#fff; z-index:3; text-indent:20px; }
