select {
vertical-align: middle;
font-size: 12px;
padding: 1px;
font-family: Arial;
}
strong {
	font-weight:bolder;
}
.dialog_city {
padding: 3px 5px;
border: 1px solid #ddd;
width: 110px;
}

.error_notice {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background: url(../images/spot.gif) no-repeat 0 -584px;
	padding-left: 30px;
	margin-left: 10px;
}
.error_notice i {
	font-style: normal;
	display: inline-block;
	line-height: 26px;
	background: url(../images/spot.gif) no-repeat right -609px;
	padding-right: 10px;
	font-size: 13px;
}
.cred {
color: red;
}
.tourline_order{
	
}
.tourline_order .pname{font-size: 1.17em; line-height:26px; color:#0D72A8; font-weight:bolder;padding-top:10px; padding-bottom:5px}
.tourline_order .item{ margin-top:15px; padding: 10px 10px; background:url(../images/ticket_order_bg.jpg) 0 0; position:relative;}
.tourline_order .item h2{line-height:32px; height:32px; font-size:14px; font-weight:bolder; padding: 0px 0px 0px 15px;}

.tourline_order .item .remove_item{ background:url(../images/spot.gif) no-repeat -59px -516px; padding-left:16px; display:none; position:absolute; right:10px}

.order_info_box{ border:1px solid #E2E2E2; padding:15px}
.order_info_box .order_box h2{ background:#E5FAFF; line-height:32px; height:32px; font-size:14px; font-weight:bolder; color:#117FBA; padding:0 12px}
.order_info_box  .routes_info  { padding-top:15px;}
.order_info_box  .input_table{ width:100%}
.order_info_box  .input_table td{ padding:2px 0px; line-height:26px;}
.order_info_box  .input_table .txt_input{ float:left; border:1px solid #BCBCBC; height:24px; line-height:24px; padding:0 5px; width:220px}
.order_info_box  .input_table .cred{ color:#FE0000;}

.fd_cont{ line-height:26px;}
.fd_cont .fd_history{ padding-left:1px; line-height:22px}
.fd_cont .fd_history dd{ cursor:pointer; float:left; border:3px dotted #ddd; padding:5px 10px; margin-right:10px; margin-bottom:10px; width:216px}
.fd_cont .fd_history dd.cur{ background:#fdfdfd; position:relative; border:3px solid #f60; cursor:default;}
.fd_cont .fd_history dd.cur .selected{ background:url(../images/spot.gif) no-repeat 0 -640px; width:16px; height:16px; position:absolute; right:0; top:0}
.fd_cont .fd_history dd.cur .selected{ display:block;}
.fd_cont .fill_detail dt{ float:left;width: 120px;text-align: right; padding-right:8px;}
.fd_cont .fill_detail dt .em{color:#FE0000;}
.fd_cont .fill_detail dd{ float:left;width: 520px;padding:3px 0px;}
.fd_cont .fill_detail .txt_input{ float:left; border:1px solid #BCBCBC; height:24px; line-height:24px; padding:0 5px; width:220px}

.next_step_s2{ padding-top:20px; text-align:center;}
.ready_rule{ padding-top:20px;}
.ready_rule .rr_check{ text-align:center; font-weight:bolder; font-size:14px}
.ready_rule .rule_name a.t{color:#0099FD; text-decoration:underline;margin-right: 20px;}
.ready_rule .rule_name a.t:hover{ color:#f60}
.ready_rule .rule_desc .desc_box{
	margin: 0 0 25px 0px;
	border: 1px solid #d8d8d8;
	padding: 10px;
	overflow-y: scroll;
	height: 360px;
	position: relative;
}

.hr_dotted {
	color: #404040;
	padding: 0;
	margin: 0px auto;
	border:none;
	border-top: 1px dotted #CCC;
	height: 1px;
}
.hr_solid {
	border:none;
	border-top: 1px solid #117FBA;
	margin: 5px 0;
	height: 1px;
}
.fixed{ position:fixed; _position:absolute;top:0}
#summaryInfo {
	width:190px;
	padding: 10px;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	background: #fff;
	overflow: hidden;
}
#summaryInfo .hd{background:url(../images/spot.gif) no-repeat 0 -669px; padding-left:22px; color:#f60; font-weight:bolder; border-bottom:1px solid #117FBA; height:32px; line-height:32px}
#summaryInfo .part .part_name {
	display: inline-block;
	color: #666;
	font-weight: bold;
}
#summaryInfo .part span.pn_1 {
}
#summaryInfo .part span.pn_2 {
	color: #F60;
	font-weight: bold;
	padding-right:5px;
}


#summaryInfo .act_btn{ padding-top:10px; text-align:center;}
#summaryInfo .totl_money{ border-top:1px solid #117FBA; margin-top:10px; padding-top:10px; font-weight:bolder; font-size:14px;}
#summaryInfo .totl_money #totalPayNet,#summaryInfo .totl_money #totalPickNet{ color:#f60}

.youke_num{
	padding-left:12px;
}
.table_box{
	width:100%;
}
.table_box th {
	background: #F4F4F4;
	padding: 0px 15px;
	line-height: 28px;
	border-top: 1px solid #E6E6E6;
}
.visa_table th{
	font-weight:bolder;
	line-height:28px;
}
.t_nav {
	background:#fff;
}
.t_nav ul li{
	font-size:14px;
	font-weight:bolder;
	width:332px;
	margin-right:2px;
	line-height:28px;
	text-align:center;
	background:#eaeaea;
	color:#5b5b5b;
}
.t_nav ul li.li_width{
	width:248px;
}
.t_nav ul li.cur{
	background:#018bd4;
	color:#fff;
}
